<launch>

    <node pkg="fisheye_model" type="frontFisheyeCropper_jfr" name="fisheye" output="screen">
        <remap from="~image_raw" to="/stereo/left/image_raw"/>
        <param name="imgL" type="string" value="imgL"/>
        <param name="imgR" type="string" value="imgR"/>
        <param name="camera_model" type="string" value="$(find fisheye_model)/config/blue621_camera_calib.yaml"/>
        <param name="cropper_file" type="string" value="$(find fisheye_model)/config/frontFisheyeLogJFR.yaml"/>
        <param name="image_file" type="string" value="$(find fisheye_model)/image/IMG00000000000000000229.png"/>
        <param name="is_image_show" type="bool" value="true"/>
        <param name="angle_row" type="double" value="120.0"/>
        <param name="angle_col" type="double" value="60.0"/>
        <param name="rotationAngle" type="double" value="0.26"/>
        <param name="max_image_size" type="int" value="640"/>
    </node>

</launch>
