<launch>

<node pkg="fisheye_model" type="omniFisheyeCropper" name="fisheyeUp" output="screen">
    <remap from="~image_raw" to="/stereo/left/image_raw"/>
    <param name="imgF" type="string" value="up/image/F"/>
    <param name="imgB" type="string" value="up/image/B"/>
    <param name="imgL" type="string" value="up/image/L"/>
    <param name="imgR" type="string" value="up/image/R"/>
    <param name="imgFInfo" type="string" value="up/camera_info"/>
    <param name="camera_model" type="string" value="$(find fisheye_model)/config/blue4293_fisheye_camera_calib.yaml"/>
    <param name="cropper_file" type="string" value="$(find fisheye_model)/config/fisheyeUp.yaml"/>
    <param name="is_image_show" type="bool" value="false"/>
    <param name="angle_row" type="double" value="65.0"/>
    <param name="angle_col" type="double" value="90.0"/>
    <param name="max_image_size" type="int" value="320"/>
<!--        <param name="max_image_size" type="int" value="320"/>-->
</node>

<node pkg="fisheye_model" type="omniFisheyeCropper" name="fisheyeDown" output="screen">
    <remap from="~image_raw" to="/stereo/right/image_raw"/>
    <param name="imgF" type="string" value="down/image/F"/>
    <param name="imgB" type="string" value="down/image/B"/>
    <param name="imgL" type="string" value="down/image/L"/>
    <param name="imgR" type="string" value="down/image/R"/>
    <param name="imgFInfo" type="string" value="down/camera_info"/>
    <param name="camera_model" type="string" value="$(find fisheye_model)/config/blue4265_fisheye_camera_calib.yaml"/>
    <param name="stereo_model" type="string" value="$(find fisheye_model)/config/stereo.yaml"/>
    <param name="cropper_file" type="string" value="$(find fisheye_model)/config/fisheyeDown.yaml"/>
    <param name="is_image_show" type="bool" value="false"/>
    <param name="angle_row" type="double" value="65.0"/>
    <param name="angle_col" type="double" value="90.0"/>
    <param name="max_image_size" type="int" value="320"/>
</node>

<!--SGBM_stereo_match-->
    <node name="stereoFront" pkg="stereo_match" type="stereoNode" output="screen">
        <remap from="/depth" to="/depthF"/>
        <remap from="/left_image" to="up/image/F"/>
        <remap from="/right_image" to="down/image/F"/>
        <param name="is_image_show" type="bool" value="true"/>
        <param name="focal_lenth" type="double" value="160"/>
        <param name="baseline" type="double" value="0.3"/>
        <param name="image_cols" type="double" value="224"/>
        <param name="image_rows" type="double" value="320"/>
    </node>


</launch>
