<launch>

    <node pkg="fisheye_model" type="omniFisheyeCropper" name="fisheyeUp" output="screen">
        <remap from="~image_raw" to="/stereo/left/image_raw"/>
        <param name="imgF" type="string" value="imgUpF"/>
        <param name="imgB" type="string" value="imgUpB"/>
        <param name="imgL" type="string" value="imgUpL"/>
        <param name="imgR" type="string" value="imgUpR"/>
        <param name="camera_model" type="string" value="$(find fisheye_model)/config/blue245_camera_calib.yaml"/>
        <param name="cropper_file" type="string" value="$(find fisheye_model)/config/fisheyeUp.yaml"/>
        <param name="is_image_show" type="bool" value="false"/>
        <param name="angle_row" type="double" value="90.0"/>
        <param name="angle_col" type="double" value="45.0"/>
        <param name="max_image_size" type="int" value="480"/>
    </node>

</launch>
